
/* Body */
body {
    font-family: 'Lato';
    font-size: 12px;
}
/* walls */
.walls {
    margin-left: 25px;
    margin-right: 25px;
}
/* Navbar */
.navbar {
    background-color: #009688;
}
.navbar-nav {
    float: none;
    margin: auto;
    display: block;
    text-align: center;
}
.nav-item {
    display: inline;
}
.nav-link {
    display: inline-block;
    padding: 15px;
    float: none;
    color: white;
}
/* project header*/
.projectheader {
    text-align: center;
}
/*headers*/
h1, h2, h3, h4, h5, h6 {
    margin: auto;
    padding: 8px;
    font-weight: bold;
}
/* infobox */
.infobox {
    text-align: center;
    margin: auto;
    background-color: white;
    padding: 3%;
    border-style: solid;
    border-width: 4px;
    border-color: #009688;
    border-radius: 10px;
}
.image-text {
    float:left;
}
/* calendar
.calendar {
    margin: auto;
    float: right;
}*/
/* Footer */
.footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 60px; /* Height of the footer */
}